SvcInvVenv/

# macOS
.DS_Store

#caches
**/__pycache__

# setting
.vscode

# data
data/

# Tex files
TexFiles/*
!/TexFiles/*.tex
!/TexFiles/Figures
!/TexFiles/Parameters
!/TexFiles/Sections
!/TexFiles/Sample.bib
!/TexFiles/*.pdf